################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetAPI/.vs
/DotNetAPI/AutocadDotNetAPI/.vs/AutocadDotNetAPI
/DotNetAPI/AutocadDotNetAPI/AutocadDotNetAPI/bin/Debug
/Autodesk Training/AutodeskObjectArxTraining/.vs/AutodeskObjectArxTraining/v16
/Autodesk Training/AutodeskObjectArxTraining/Step1_StartNewProject/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step1_StartNewProject/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step2ObjectArxWizard/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step3SymbolTables/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/x64/Debug
/.vs
/AutocadObjectArx/.vs/AutocadObjectArx
/Autodesk Training/AutodeskObjectArxTraining/Step5CustObjArx/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step04XrecordNOD/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step05CustObjDbx/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step06CustomEntity/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step06CustomEntityARX/Step06CustomEntityARX/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step05CustObjArx/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step06CustomEntityArx/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/Step06CustomEntityDbx/x64/Debug
/Autodesk Training/AutodeskObjectArxTraining/.vs/AutodeskObjectArxTraining/FileContentIndex
/Autodesk Training/AutodeskObjectArxTraining/.vs/AutodeskObjectArxTraining/v17
/Autodesk Training/AutodeskObjectArxTraining/OutLibs
/Autodesk Training/AutodeskObjectArxTraining/UtcSimpleCSharpClientApp/obj/Debug
/Autodesk Training/AutodeskObjectArxTraining/UtcSimpleCSharpClientApp/bin/Debug
/Autodesk Training/AutodeskObjectArxTraining/UtcSimpleArxWraper/x64/Debug
/Extension/GeometryDumpData/.vs
/Extension/GeometryDumpData/GeometryDumpData/.vs/GeometryDumpData/v16
/Extension/GeometryDumpData/GeometryDumpData/Debug
/Extension/GeometryDumpData/GeometryDumpData/x64/Debug
/Extension/Solutions/.vs
/Extension/Solutions/Debug
/Extension/Solutions/x64/Debug
/Extension/Solutions/GeometryDumpDataArx/x64/Debug
/Extension/Solutions/GeometryDumpDataArx/Debug
/Extension/Solutions/GeometryDumpDataArx/.vs/GeometryDumpData/v16
