################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetAPI/.vs
/DotNetAPI/AutocadDotNetAPI/.vs/AutocadDotNetAPI
/DotNetAPI/AutocadDotNetAPI/AutocadDotNetAPI/bin/Debug
